<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Chat</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- jQuery -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'chatting/css/chatting.css' %}" />
</head>

<body>
  <div class="navbar-fixed">
    <nav class="blue darken-4">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
          Connect People
        </a>
        <ul class="right">
          <li>Hello {{ user.first_name }}</li>
          <li><a href="/accounts/logout">Log out</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">
    <div id="msgwindow" class="col s8 card-panel" style="height: 470px; margin-bottom: 0; overflow: auto;">
      {% for m in msg %}
      {% ifequal m.msender|stringformat:"s" user.username %}
      <div class="card-panel blue lighten-2">
        <span class="white-text" style="float: right; font-size: 1.3rem">
          {{ m.mbody }}</span>
        <br />
        <br />
        <span style="float: right; font-size: .7rem;" class="blue-text text-lighten-2;">{{ m.mdate }}</span>
      </div>
      {% else %}
      <div class="card-panel">
        <span style=" float: left; font-size: 1.3rem">{{ m.mbody }}</span>
        <br />
        <br />
        <span style="float: left; font-size: .7rem;" class="blue-text text-lighten-2">{{ m.mdate }}</span>
      </div>
      {% endifequal %}
      {% endfor %}
    </div>
    <div class="col s4">6-columns (one-half)</div>
  </div>
  <div class="row">
    <form id="msgform" method="POST" action="/">
      {% csrf_token %}
      <div class="col s8 card-panel" style="position: fixed; margin-top: 0; height: 80px; overflow-x: auto;
      white-space: nowrap;">
        <div class="row">
          <div class="input-field col s11" style="color: #0d47a1;">
            <textarea id="textarea1" class="materialize-textarea" name="message"></textarea>
            <label style="color: #0d47a1" for="textarea1">Type a message</label>
          </div>
          <div class="col s1">
            <button style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" type="submit" id="msgsend">
              <i class="medium material-icons blue-text">send</i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  {% load static %}
  <script src="{% static 'chatting/javascript/mainajax.js' %}"></script>

  {% for m in messages %}
  <script>
    M.toast({ html: "{{m}}", classes: "red-text text-accent-4" });
  </script>
  {% endfor %}
</body>

</html>