<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Chat</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- jQuery -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'chatting/css/chatting.css' %}" />
</head>

<body>
  <div class="navbar-fixed">
    <nav class="blue darken-4">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
          Connect People
        </a>
        <ul class="right">
          <li>Hello {{ user.first_name }}</li>
          <li><a href="/accounts/logout">Log out</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">

    <div class="col s8">

      <div id="mainAppWindow">
        <ul class="collection with-header">
            <li class="collection-item avatar"><img src="https://www.gstatic.com/webp/gallery/1.png" alt="" class="circle">
              <h5 id="frndname" class="blue-text text-darken-4"></h5>
            </li>
          </ul>
      <div id="msgwindow" class="card-panel" style="height: 370px; margin-bottom: 0; overflow: auto;"></div>
      <div class="">
        <div class="row">
          <div class="input-field col s11" style="color: #0d47a1;">
            <textarea id="textarea1" class="materialize-textarea" name="message"></textarea>
            <label style="color: #0d47a1" for="textarea1">Type a message</label>
          </div>
          <div class="col s1">
            <button
              style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;"
              id="msgsend">
              <i class="medium material-icons blue-text">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>

    </div>

    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4 class="blue-text">Your friends</h4>
        </li>
      </ul>
      <ul id="friendlist" class="collection" style="height: 355px; margin-bottom: 0; overflow: auto;"></ul>
      <div class="input-field col s12" style="color: #0d47a1;">
        <i style="color: #0d47a1" class="material-icons prefix">account_circle</i>
        <input id="searchFriends" type="text">
        <label for="searchFriends">Search...</label>
      </div>
    </div>




    <script>
      var roomName = {{ room_name_json }};
      var user = "{{ user.username }}";
      var mrc = "{{ rc.username }}";
      var mrc_fname = "{{ rc.first_name }}";
      var mrc_lname = "{{ rc.last_name }}";
      var msglist = JSON.parse({{ msglist }});
      var uid = "{{ user.id }}";
      var friends = JSON.parse({{ friends }});
    </script>






    <!-- {% load static %}
  <script src="{% static 'chatting/javascript/mainajax.js' %}"></script> -->
    {% load staticfiles %}
    <script src="{% static 'channels/js/websocketbridge.js' %}"></script>






    {% for m in messages %}
    <script>
      M.toast({ html: "{{m}}", classes: "red-text text-accent-4" });
    </script>
    {% endfor %}


    

</body>

</html>