<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="container">
        {% csrf_token %}
        <h1>Hello {{user.first_name}}</h1>
        <a href="/accounts/logout" class="btn">Logout</a>


    </div>

    {% for m in messages %}
    <script>M.toast({ html: "{{m}}", classes: 'red-text text-accent-4' })</script>
    {% endfor %}

</body>

</html>